/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	.timetable_list {
		
		padding: 0;
	}
	.footer_ul {
		list-style: none;
		display: block;
		width: 100%;
		padding: 0;
	}
	.price_items li {
	font-size: 13px;
	}
	.left_menu li {
		width: 100%;
		
		text-align: center;
		
	}
	.head_tel a {
		display: inline-block;
		color: #373435;
		font-family: Rubik;
		font-size: 19px;
		font-weight: 700;
		line-height: 26px;
		margin: 5px 45px;
	}
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.photo_story {
		max-width: 80%;
		border-radius: 17px;
		display: block;
		margin: 0 auto;
	}
	.short_story_img {
		float: none;
		max-width: 100%;
		border-radius: 17px;
		margin-right: 10px;
		max-height: none;
		display: block;
	}
	.head_menu {
		display: block;
		width: 100%;
		position: relative;
		list-style: none;
		padding: 0;
	}
	.head_menu li {
		display: inline-block;
		/* width: 16%; */
		text-align: center;
		margin: 0 10px;
	}
	.head_menu li a {
		color: #373435;
		font-family: Rubik,sans-serif;
		font-size: 14px;
		font-weight: 700;
		line-height: 22px;
		letter-spacing: .5px;
	}
	.left_menu li {
		width: 100%;
		
	}
	.services_item {
		list-style: none;
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
		 height: auto; 
		position: relative;
	}
	.services_item li {
		display: inline-block;
		width: 40%;		
		position: relative;
		padding: 0;		
		float: none;
		text-align: center;		
		vertical-align: top;
	}
	.services_item li a {
		color: #373435;
		font-family: Rubik;
		font-size: 12px;
		font-weight: 500;
		line-height: 5px;
	}
	.services_img {
		max-width: 100%;
		display: block;
		margin: 5px auto;
		max-height: 60px;
	}
	.price_items li {
		color: #373435;
		font-family: Rubik;
		font-size: 13px;
		font-weight: 400;
		line-height: 25px;
		border-bottom: 1px solid #3333334d;
	}
	.timetable_list {
		list-style: none;
		display: block;
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}
	.head_tel a {
		display: inline-block;
		color: #373435;
		font-family: Rubik;
		font-size: 14px;
		font-weight: 700;
		line-height: 18px;
		margin: 8px 10px;
	}
	.head_info p {
		
		font-size: 14px;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.head_menu {
		display: block;
		width: 100%;
		position: relative;
		list-style: none;
		padding: 0;
	}
	.head_menu li {
		display: inline-block;
		/* width: 16%; */
		text-align: center;
		margin: 0 10px;
	}
	.head_menu li a {
		color: #373435;
		font-family: Rubik,sans-serif;
		font-size: 13px;
		font-weight: 700;
		/* line-height: 32px; */
	}
	.left_menu li {
		width: 100%;
		
	}
	.services_item {
		list-style: none;
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
		 height: auto; 
		position: relative;
	}
	.services_item li {
		display: inline-block;
		width: 40%;		
		position: relative;
		padding: 0;		
		float: none;
		text-align: center;		
		vertical-align: top;
	}
	.services_item li a {
		color: #373435;
		font-family: Rubik;
		font-size: 12px;
		font-weight: 500;
		line-height: 5px;
	}
	.services_img {
		max-width: 100%;
		display: block;
		margin: 5px auto;
		max-height: 60px;
	}
	.price_items li {
		color: #373435;
		font-family: Rubik;
		font-size: 13px;
		font-weight: 400;
		line-height: 25px;
		border-bottom: 1px solid #3333334d;
	}
	.timetable_list {
		list-style: none;
		display: block;
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}
	.head_tel a {
		display: inline-block;
		color: #373435;
		font-family: Rubik;
		font-size: 12px;
		font-weight: 700;
		line-height: 18px;
		margin: 8px 10px;
	}
	.head_info p {
		
		font-size: 13px;
	}

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}